##Assignment - 4

**Answer the following questions, download the .ipynb file and submit the file.**
* Name : Nisarga Vishwamanjuswamy
* Sesion :
* CRN : 21944

Question#1 : 20 Points

Build the class and it as "Purchase" with the following requirements:

    Attributes :
    item_name (string)
    item_price (int)
    item_quantity (int)
    
    Default constructor: With the following default values
    Item_name = "none",
    item_price = 0,
    item_quantity = 0

    Method:
    item_cost()

    This method should calculate the item cost example :
    Coca Cola 10 @ $1 = $10

If there are more than one item then you should add up the cost.
    Item 1
    Enter the item name: Chocolate
    Enter the item price:3
    Enter the item quantity:1

    Item 2
    Enter the item name: Cola
    Enter the item price: 1
    Enter the item quantity: 10

(3) Add the costs of the two items together and output the total cost.

    Ex:
    TOTAL COST
    Chocolate 1 @ $3 = $3
    Cola 10 @ $1 = $10
    Total: $13

In [1]:
class Purchase():
  def __init__(self, item_name="none", item_price=0, item_quantity=0):
    self.item_name = item_name
    self.item_price = item_price
    self.item_quantity = item_quantity

  def item_cost(self):
    return self.item_price * self.item_quantity

In [4]:
if __name__ == "__main__":
  purchased_items = []
  total_cost = 0

  num_items = int(input("Enter the number of items: "))
  for i in range(1, num_items+1):
    print(f"Item {i}")
    name = input("Enter the item name: ")
    price = int(input("Enter the item price: "))
    quantity = int(input("Enter the item quantity: "))
    purchased_items.append(Purchase(name, price, quantity))

  print("\nTOTAL COST")
  for purchase in purchased_items:
    cost = purchase.item_cost()
    total_cost += cost
    print(f"{purchase.item_name} {purchase.item_quantity} @ ${purchase.item_price} = ${cost}")

print(f"Total: ${total_cost}")

Enter the number of items: 2
Item 1
Enter the item name: Coke
Enter the item price: 2
Enter the item quantity: 2
Item 2
Enter the item name: Brownie
Enter the item price: 5
Enter the item quantity: 2

TOTAL COST
Coke 2 @ $2 = $4
Brownie 2 @ $5 = $10
Total: $14

Question #2
Point : 10

Write a class called Calculator that performs basic functions of a calculator: add, subtract, multiply, divide, and clear.

In [5]:
class Calculator:
  def __init__(self):
    self.res = 0

  def addition(self, *args):
    for num in args:
      self.res += num
    return self.res

  def substraction(self, *args):
    if len(args) < 1:
      return 'invalid entry'
    self.res = args[0]
    for num in args[1:]:
      self.res -= num
    return self.res

  def multiplication(self, *args):
    if len(args) < 1:
      return 'invalid entry'
    self.res = 1
    for num in args:
      self.res *= num
    return self.res

  def div(self, *args):
    if len(args) < 1:
      return 'invalid entry'

    for num in args:
      if num == 0:
        return 'invalid entry'
      self.res /= num
    return self.res

  def clear(self):
    self.res = 0
    return self.res

In [7]:
cal = Calculator()
print(cal.addition(5,10))
print(cal.substraction(15,20))
print(cal.multiplication(10,9))
print(cal.div(5,8))
print(cal.clear())

15
-5
90
2.25
0

Question#3

Points : 10

Define the Student class that has two attributes: name and gpa

Implement the following instance methods:

A constructor that sets name to "Defualt name"(What ever you want to give) and gpa to 1.0
set_name(self, name) - set student's name to parameter name
get_name(self) - return student's name
set_gpa(self, gpa) - set student's gpa to parameter gpa
get_gpa(self) - return student's gpa
Ex. If a new Student object is created, the default output is:

Default name/1.0
Ex. If the student's name is set to "Frank" and the gpa is set to 3.7, the output becomes:

Frank/3.7

In [8]:
class Student():
  def __init__(self):
    self.name = "DefaultName"
    self.gpa = 1.0

  def set_name(self, name):
    self.name = name
  def get_name(self):
    return self.name

  def set_gpa(self, gpa):
    self.gpa = gpa
  def get_gpa(self):
    return self.gpa

In [9]:
student = Student()
student.set_name("Frank")
student.set_gpa(3.7)
print(f"{student.get_name()}/{student.get_gpa()}")

Frank/3.7

Question#4

Points : 10

Build a class called BankAccount that manages checking and savings accounts.

    Attributes:
              customer name,
              the customer's savings account balance,
              and the customer's checking account balance.
    
    Constructor with parameters (self, new_name, checking_balance, savings_balance)
    
    deposit_checking(self, amount) - add parameter amount to the checking account balance (only if positive)

    deposit_savings(self, amount) - add parameter amount to the savings account balance (only if positive)


    withdraw_checking(self, amount) - subtract parameter amount from the checking account balance (only if positive)


    withdraw_savings(self, amount) - subtract parameter amount from the savings account balance (only if positive)


    transfer_to_savings(self, amount) - subtract parameter amount from the checking account balance and add to the savings account balance (only if positive)

In [11]:
class BankAccount():
  def __init__(self, new_name, checking_balance, savings_balance):
    self.new_name = new_name
    self.checking_balance = checking_balance
    self.savings_balance = savings_balance

  def deposit_checking(self, amount):
    if amount>0:
      self.checking_balance += amount

  def deposit_savings(self, amount):
    if amount>0:
      self.savings_balance_balance += amount

  def withdraw_checking(self, amount):
    if amount>0 and self.checking_balance >= amount:
      self.checking_balance -= amount

  def withdraw_savings(self, amount):
    if amount>0 and self.savings_balance >= amount:
      self.savings_balance -= amount

  def transfer_to_savings(self, amount):
    if amount>0 and self.checking_balance >= amount:
      self.checking_balance -= amount
      self.savings_balance += amount

In [17]:
bank = BankAccount("Frank", 10000, 300000)

bank.deposit_checking(15500)
bank.checking_balance
bank.withdraw_savings(1000)
bank.savings_balance

299000